@model MVC.Entidades.Panial;

@{
    ViewData["Title"] = "Calculadora de Paniales";
}

<div class="text-center">
    <h1 class="display-4">CALCULE SU PANIAL:</h1>

</div>
@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <div class="alert alert-info">
        @ViewBag.Message
    </div>
}
<form asp-controller="Calculadora" asp-action="Sumar">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="nombreDelNinio" class="control-label"></label>
        <input asp-for="nombreDelNinio" class="form-control" />
        <span asp-validation-for="nombreDelNinio" class="text-danger"></span>

    </div>
    <div class="form-group">
        <label asp-for="pesoDelNinio" class="control-label"></label>
        <input asp-for="pesoDelNinio" class="form-control" />

        <span asp-validation-for="pesoDelNinio" class="text-danger"></span>

    </div>
    <div class="form-group">
        <label asp-for="edadDelNinio" class="control-label"></label>
        <input asp-for="edadDelNinio" class="form-control" />

        <span asp-validation-for="edadDelNinio" class="text-danger"></span>

    </div>

    <button type="submit" class="btn btn-primary">SUMAR!</button>
</form>