@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido al sitio</h1>
    <div class="container-fluid">
        
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Panial" asp-action="Resultados">Resultados</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Panial" asp-action="CalcularPanial">Calcular el tamanio de panial para ninio</a>
                </li>
            </ul>
        </div>
    </div>
</div>
